.form {
  color: #493d57;
  display: grid;
  grid-template-rows: repeat(6, 20%);
  position: relative;
  float: right;
  width: 45%;
  height: 500px;

  padding: 50px 30px 0;
  font-size: 8pt;
  margin: 75px 0px;
}

.title {
  letter-spacing: 1px;
  border-bottom: 4px solid #ff996c;
  border-radius: 1px;
  margin-bottom: 30px;
  width: 100%;
  font-size: 10pt;
}

.name {
  display: grid;
  grid-template-columns: 50% 50%;
}

input {
  border: none;
  border-bottom: 1px solid gray;
  width: 100%;
  margin-top: 5px;
  padding-bottom: 5px;
  font-size: 12pt;
}

.first {
  margin-right: 10px;
}

.last {
  margin-left: 10px;
}

button {
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
}

.login {
  float: right;
  background: white;
  color: #ff996c;
  margin-top: 25px;
  margin-right: 15px;
  padding: 10px 20px;
  border: 1px solid #ff996c;
}

.signup {
  background: #ff996c;
  color: white;
  padding: 10px 30px;
}

.error {
  color: red;
}

.errorInput {
  border-bottom: 1px solid red;
  margin-bottom: 2px;
}

@media screen and (max-width: 748px) {
  .form {
    background: white;
    width: 100%;
    margin-top: 40px;
    margin-left: 5px;
  }

  .title {
    width: 65%;
  }
}
