<div class="entry">
  <p><strong>Join the Family at Memento!</strong></p>
  <div class="body">
    <p>Hey there,</p>
    <p>{{inviterName}} has invited you to join their family, "{{familyName}}", at <strong>Memento</strong>,
      the secure online platform that makes sharing family events and memories an absolute delight!</p>
    <ul>
      <li>Digitise your family memories and artifacts (like physical objects)!</li>
      <li>Upload photos, videos or audio clips of important family events!</li>
      <li>Invite your closest family members as well as your extended family to join the fun!</li>
      <li>Bookmark your favourite memories and events so you can always look back on them and smile :)</li>
    </ul>

    <p>Click the link below to join the Memento Family:</p>
    <p><a href="{{inviteLink}}">{{inviteLink}}</a></p>

    <p>With Love,</p>
    <p>Team Memento</p>
  </div>
</div>