<div class="entry">
  <h1>Join the {{familyName}} Family!</h1>
  <div class="body">
    <p>{{inviterName}} has invited you to join their family.</p>
    <p>Click the link below to join:</p>
    <p><a href={{inviteLink}}>{{inviteLink}}</a></p>
  </div>
</div>